
<%
const USER_TYPE_FREELANCER = "freelancer";
const USER_TYPE_ATTORNEY = "attorney";
const USER_TYPE_ADMIN = "admin";
%>

<% include ./partials/header %>
    
    <section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(../public/images/big_image_1.jpg);">
    <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
        <div class="col-md-12" style="margin-top: 6em">
    
            <!-- put data here -->
            <h1>
            Dashboard 
                <span class='badge badge-success'>
                <% if (userType === USER_TYPE_FREELANCER) { %>
                    freelancer
                <% }  else { %>
                    attorney 
                <% } %>
                </span>

                <% if (approval === false || approval === 'false') { %>
                    <span class='badge badge-warning'>Not approved</span>
                <% }  else { %>
                    <span class='badge badge-success'>Approved</span>
                <% } %>

            </h1>
    
            <% if (_message === 'saved') { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success!</strong> Your information has been saved
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div> 
            <% } %>
    
            <% if (userType === USER_TYPE_ATTORNEY) { %>
                <form id="profileData" method="POST" action="/dashboard">
                
                    <% if (approval) { %>
                        <a href="/listing" class="btn btn-info" style="float:right" role="button">Directory Listing of Paralegals</a>
                    <% } else { %>
                        <div class="alert alert-info" role="alert">
                            Not approved to view paralegal listing
                        </div>
                    <% } %>

                    <h5>Name</h5>
                    <label name='name' id='name'><%= name %></label>
                    <input type="hidden" id="name" name="name" value="<%- name %>">
            
                    <h5>Email</h5>
                    <label name='email' id='email'><%= email %></label>
                    <input type="hidden" id="email" name="email" value="<%- email %>">
            
                    <h5>Telephone</h5>
                    <input type="text" class="form-control" id="telephone" name="telephone" 
                    placeholder="contact number" value="<%- telephone %>">
            
                    <input type="hidden" id="userType" name="userType" value="<%- userType %>">

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
 
            <% } %>
    
            <% if (userType === USER_TYPE_FREELANCER) { %>
                <form id="profileData" method="POST" action="/dashboard">
            
                    <input type='hidden' id='approval' name='approval' value="<%- approval %>">
                    <input type="hidden" id="userType" name="userType" value="<%- userType %>">

                    <h5>Name</h5>
                    <label name='name' id='name'><%= name %></label>
                    <input type="hidden" id="name" name="name" value="<%- name %>">
            
                    <h5>Email</h5>
                    <label name='email' id='email'><%= email %></label>
                    <input type="hidden" id="email" name="email" value="<%- email %>">
            
                    <h5>Telephone</h5>
                    <input type="text" class="form-control" id="telephone" name="telephone" 
                    placeholder="contact number" value="<%- telephone %>">
            
                    <h5>Education</h5>
            
                    <!-- undergraduate -->
                    <div class="custom-control custom-checkbox mb-3">
            
                        <% if (undergraduateCheckBox == true) { %>
                        <input type="checkbox" class="custom-control-input" name="undergraduateCheckBox" id="undergraduateCheckBox" checked>
                        <% } else { %>
                            <input type="checkbox" class="custom-control-input" name="undergraduateCheckBox" id="undergraduateCheckBox">
                        <% } %>
            
                    <label class="custom-control-label" for="undergraduateCheckBox">Associate or Undergraduate program</label>
                    
                    
                        <div id="undergraduateInsitution">
                            <label class="sr-only" for="undergraduateInstitution">Name</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" name="undergraduateInstitution" id="undergraduateInstitution" 
                            placeholder="Name of Institution" value="<%- undergraduateInstitution %>">
                            
                            <div class="form-check mb-2 mr-sm-2">
            
                                <!--  degree received  -->
                                <% if (undergradDegreeReceivedCheckBox == true) { %>
                                    <input class="form-check-input" type="checkbox" name="undergradDegreeReceivedCheckBox" id="undergradDegreeReceivedCheckBox" checked>
                                <% } else { %>
                                    <input class="form-check-input" type="checkbox" name="undergradDegreeReceivedCheckBox" id="undergradDegreeReceivedCheckBox">
                                <% } %>  
            
                                <label class="form-check-label" for="undergradDegreeReceivedCheckBox">
                                    Degree Received
                                </label>
            
                                <!--  graduated on  -->
                                <div id="undergradGraduatedOn">
                                    <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                                    <div class="input-group mb-2 mr-sm-2">
                                        <div class="input-group-prepend">
                                        <div class="input-group-text">graduated on</div>
                                        </div>
                                        <input type="date" name="undergraduateGradDate" id="undergraduateGradDate" value="<%- undergraduateGradDate %>">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="form-group">
                    <h5>Able to use online legal research engines such as (Lexis-Nexis Or West Law)</h5>
                    <select id="legalSearchKnowHow" name="legalSearchKnowHow" class="custom-select" required>
                        <% if (legalSearchKnowHow == true) { %>
                            <option value="1" selected>Yes</option>
                            <option value="2">No</option>
                        <% } else { %>
                            <option value="1" >Yes</option>
                            <option value="2" selected>No</option>
                        <% } %>  
                    </select>
                    
                    </div>
            
                    <div class="form-group">
                    <h5>Skills</h5>
                        <input type="text" class="form-control" id="skills" name="skills" 
                        placeholder="List your skills" value="<%- skills %>">
                    </div>
            
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            <% } %>
            <a href="/users/logout" class="btn btn-secondary">Logout</a> 
    
        </div>
        </div>
    </div>
    </section>
    <!-- END section -->
    
    <% include ./partials/footer %>
    
    <% include ./partials/loader %>