
<%
const USER_TYPE_FREELANCER = "freelancer";
const USER_TYPE_ATTORNEY = "attorney";
%>


<% include ./partials/header %>

<section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(../public/images/big_image_1.jpg);">
<div class="container">
    <div class="row align-items-center site-hero-inner justify-content-center">
    <div class="col-md-8 text-center">

        <div class="mb-5 element-animate">
        <h1>Find your paralegal</h1>
        <p style="color:white">Discover &amp; connect with paralegals around the country</p>
        </div>

        <form class="form-inline element-animate" id="search-form">
        <label for="s" class="sr-only">Location</label>
        <input type="text" class="form-control form-control-block search-input" id="autocomplete" placeholder="" >
        <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <br />
        <br />
        <br />
         <!--  Data here -->
        <% if (user.userType === USER_TYPE_ATTORNEY) { %>

            <div class="list-group">
                <% for(let i = 0; i < freelancers.length; i++) { %>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><%- freelancers[i].name%> 
                            <% if (freelancers[i].legalSearchKnowHow) { %> 
                                <span class="badge badge-success">
                                Online Legal Research
                                </span>
                            <% } %> 
                        </h5>

                        <p class="text-left">
                        <% if (freelancers[i].undergraduateCheckBox && freelancers[i].undergraduateInstitution !== "") { %>
                        Graduated from <%- freelancers[i].undergraduateInstitution %> on 
                        <% } %>  
                            <span>
                            <% if (freelancers[i].undergradDegreeReceivedCheckBox && freelancers[i].undergraduateGradDate !== "") { %>
                            <%- freelancers[i].undergraduateGradDate %>
                            <% } %>
                            </span>
                        </p>
                        
                        <% var cleanDate = moment(freelancers[i].date); %>
                        <small>member since <%- cleanDate.format('MMM-DD-YY'); %></small>
                        </div>

                        <p class="text-left"><%- (freelancers[i].email) %>, <%- (freelancers[i].telephone) %></p>
                        <p class="text-left">skills: <%- freelancers[i].skills%></p>
                    </a>
                <% } %>
            </div>
        <% } else { %>
            Sorry, only Attorneys allowed
        <% } %>



    </div>
    </div>
</div>
</section>
<!-- END section -->

<% include ./partials/footer %>

<% include ./partials/loader %>